html,
body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: $default-color;
  background-color: $body-background;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  font-size: 18px;
  line-height: 1.8;
  color: $default-color;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  box-shadow: 0 0 0 2px transparent;
  border-radius: 5px;
  transition: box-shadow 0.5s, opacity 0.5s; 
    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }
    &:hover {
      box-shadow: 0 0 0 2px transparent;
    }
    &:active {
      opacity: 0.5;
    }
}

.button {
  padding: 12px 32px;
  background-color: $accent-color;
  color: $white;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 6px;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
  
    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
      background-color: $accent-transparent;
      color: $accent-color;
   }
    &:hover {
      background-color: transparent;
      color: $accent-color;
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }
    &:active {
      background-color: $accent-transparent;
      box-shadow: 0 0  0 2px transparent;
    }
}

.mixitup-control-active{
  background-color: $accent-color;
  color: $white;

    &.top-categories__btn .top-categories__icon{
      fill:  $white;
    }
    &.top-categories__btn:hover{
      color:  $white;
      background-color: $accent-color;
    }
    &.top-categories__btn:hover .top-categories__icon{
      fill:  $white;
    }
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  color: $darkblue;
  margin-bottom: 45px;
}