$accent-color: #ff6838;
$pale-accent: #FFAE94;
$default-color: #31352b;
$body-background: #f9faff;
$background: #fff2ed;   
$silver: #ececec;
$gray: #c2c2c2;
$darkblue: #363853;
$white: #fff;
$accent-transparent: rgba(255, 122, 80, 0.1)
