@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header {
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 54px 0 53px 3px;
  }

  &__inner {
    display: flex;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__button {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0 2px transparent;
    position: relative;
    transition: box-shadow 0.5s, background-color 0.5s;
    padding: 10px;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
      background-color: $accent-transparent;
    }

    &:hover {
      background-color: $accent-color;

      .header__icon {
        stroke: $white;
      }

      .header__counter {
        background-color: $white;
        color: $accent-color;
      }
    }

    &:active {
      background-color: $accent-transparent;
      box-shadow: 0 0 0 2px transparent;

      .header__icon {
        stroke: $default-color;
      }

      .header__counter {
        background-color: $accent-color;
        color: $white;
      }
    }
  }

  &__icon {
    stroke: $default-color;
    fill: none;
    transition: stroke 0.5s;
    width: 19px;
    height: 19px;
  }

  &__counter {
    position: absolute;
    height: 14px;
    background-color: $accent-color;
    border-radius: 20px;
    color: $white;
    font-size: 10px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 5px;
    left: 24px;
    transition: background-color 0.5s, color 0.5s;
  }
}

.menu {
  display: flex;
  margin-right: 52px;
  padding-top: 5px;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    line-height: 1.15;

    &--active {
      color: $accent-color;
    }
  }
}

.animation {
  box-shadow: 0 0 0 2px transparent;
  border-radius: 5px;
  transition: box-shadow 0.5s, color 0.5s, text-shadow 0.5s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
  }

  &:hover {
    color: $accent-color;
    box-shadow: 0 0 0 2px transparent;
  }

  &:active {
    color: $darkblue;
    box-shadow: 0 0 0 2px transparent;
    text-shadow: 2px 2px 5px rgba($default-color, 0.5);
  }
}

.hero {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 450px;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $darkblue;
    margin-bottom: 20px;

    & span {
      color: $accent-color;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__details {
    margin-left: 34px;
    font-size: 20px;
    line-height: 1.5;
    padding: 5px 0;
  }

  &__image {
    max-width: 560px;
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: start;
  }
}

.top-categories {
  text-align: center;
  padding: 120px 0;

  &__title {
    margin-bottom: 55px;
    line-height: 1.5;
  }

  &__filters {
    display: flex;
    margin-bottom: 45px;
  }

  &__filter {
    background-color: $white;
    box-shadow: 0 0 0 1px $silver;
    border-radius: 5px;
    margin-right: 20px;
  }

  &__btn {
    padding: 22px 32px;
    max-height: 70px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    transition: box-shadow 0.5s, text-shadow 0.5s, background-color 0.5s;

    &:hover {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
      background-color: $accent-transparent;

      .top-categories__icon {
        fill: $accent-color;
      }
    }

    &:active {
      box-shadow: inset 0 -5px 12px rgba($accent-color, 0.2);
      background-color: $white;
      text-shadow: none;

      .top-categories__icon {
        fill: $darkblue;
      }
    }
  }

  &__icon {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    fill: $default-color;
    transition: fill 0.5s;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }
}

.product-card {
  text-align: center;
  background-color: $white;
  box-shadow: 0 0 0 1px $silver;
  border-radius: 5px;
  padding: 20px 15px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 0 1px $accent-color;
  }

  &__img {
    margin: 0 auto 10px;
  }

  &__title {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 36px;
  }

  &__price {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: $darkblue;
    margin-bottom: 10px;
  }

  &__btn {
    font-size: 14px;
    padding: 7px 16px;
    margin: 0 auto;
    display: block;
  }

  &__more {
    text-decoration-line: underline;
    color: $darkblue;
    transition: box-shadow 0.5s, color 0.5s, text-shadow 0.5s, text-decoration 0.5s;

    &:hover {
      text-decoration: transparent;
    }

    &:active {
      text-decoration: transparent;
    }
  }
}

.info {
  padding-bottom: 120px;

  &__inner {
    display: flex;
    align-items: center;
    padding: 0 70px;
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 440px;
    width: 100%;
    height: 585px;
    margin-right: 120px;
  }

  &__content {
    max-width: 470px;
    padding-bottom: 5px;
  }

  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    color: $darkblue;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__advantages {
    margin-bottom: 38px;
  }

  &__advantage {
    padding-left: 64px;
    font-size: 24px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;
    }

    &--delivery::before {
      background-image: url(../images/svg/info-delivery.svg);
    }

    &--couriers::before {
      background-image: url(../images/svg/info-couriers.svg);
    }

    &--place::before {
      background-image: url(../images/svg/info-place.svg);
    }
  }
}

.best-restaurant {
  text-align: center;
  margin-bottom: 120px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: left;
  }

  &__card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 20px 20px;
  }

  &__img {
    max-width: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 -20px 17px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__timetable {
    padding-left: 32px;
    font-size: 18px;
    line-height: 1.67;
    position: relative;

    &::before {
      content: '';
      background-image: url(../images/svg/restaurant-time.svg);
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 22px;
      height: 22px;
      position: absolute;
    }
  }

  &__button {
    background-color: $accent-color;
    width: 79px;
    border-radius: 20px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.5s, background-color 0.5s;

    &:focus {
      background-color: $background;
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    &:focus .best-restaurant__icon {
      fill: $accent-color;
    }

    &:hover {
      background-color: $white;
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    &:hover .best-restaurant__icon {
      fill: $accent-color;
      transform: translateX(90%);
    }

    &:active {
      box-shadow: 0 0 0 2px transparent;
      background-color: $background;
    }

    &:active .best-restaurant__icon {
      transform: translateX(0);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: transform 0.5s, fill 0.5s;
  }
}

.feedback {
  text-align: center;
  padding-bottom: 125px;

  &__inner {
    display: flex;
    text-align: left;
  }

  &__item {
    padding: 0 87px;
    margin-bottom: 80px;
  }

  &__img {
    float: left;
    margin-right: 40px;
    border-radius: 50%;
  }

  &__blockquote {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__text {
    font-style: italic;
    margin-bottom: 30px;
    padding: 0 40px;
    position: relative;

    &::after,
    &::before {
      content: '';
      width: 34px;
      height: 19.5px;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::after {
      background-image: url(../images/svg/blockquote-bot.svg);
      bottom: 0;
      right: 0;
    }

    &::before {
      background-image: url(../images/svg/blockquote-top.svg);
      top: 0;
      left: -5px;
    }
  }

  &__author {
    line-height: 1.3;
    color: $accent-color;
    padding-left: 40px;
  }

  &__position {
    font-size: 14px;
    line-height: 1.3;
    display: block;
    margin-top: 15px;
    color: $default-color;
  }
}

.slick {
  &-arrow {
    position: absolute;
    bottom: -2px;
    font-size: 0;
    background: rgba(255, 255, 255, 0.01);
    border: 3px solid $gray;
    border-radius: 50%;
    padding: 17px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.5s, border-color 0.5s, background-color 0.5s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    &:hover {
      border-color: $pale-accent;
      background-color: $background;
    }

    &:active {
      border-color: transparent;
      box-shadow: 0 0 0 2px transparent;
    }
  }

  &-next {
    right: 50%;
    transform: translateX(110px);
    background-image: url(../images/sprite.svg#next-arrow);
    background-size: 90px;
  }

  &-prev {
    left: 50%;
    transform: translateX(-115px);
    background-image: url(../images/sprite.svg#prev-arrow);
    background-size: 90px;
  }

  &-dots {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-46%);

    &:focus {
      box-shadow: 0 0 0 2px $accent-color;
    }
  }

  &-dots li {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: $gray;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.5s, background-color 0.5s;

    &:focus {
      box-shadow: 0 0 0 2px $accent-color;
    }

    &:hover {
      background-color: $background;
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    &:active {
      background-color: $pale-accent;
    }

    &.slick-active {
      background-color: #FF7A50;
    }
  }
}

.apps {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 500px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__links {
    display: flex;
  }

  &__link {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 40px;

    &--apple {
      background-image: url(../images/app-store.jpg);
      margin-right: 30px;
      width: 120px;
    }

    &--google {
      background-image: url(../images/google-play.jpg);
      width: 135px;
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 570px;
    width: 100%;
    height: 380px;
  }
}

.form {
  &__input {
    margin: 25px 0 12px;
    width: 200px;
    padding: 11px 15px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 14px;
    transition: box-shadow 0.5s;

    &::placeholder {
      color: $gray;
      font-size: 14px;
      line-height: 1.3;
      transition: color 0.5s;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    &:hover::placeholder {
      color: $darkblue;
    }
  }

  &__button {
    width: 100%;
    padding: 13px 38px;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    align-items: center;

    &:focus .form__icon,
    &:hover .form__icon,
    &:active .form__icon {
      fill: $accent-color;
    }
  }

  &__icon {
    width: 17px;
    height: 16px;
    fill: $white;
    margin-right: 15px;
    transition: fill 0.5s;
  }
}

.social {
  display: flex;

  &__link {
    font-size: 16px;
    line-height: 2;
    width: 39px;
    height: 39px;
    background-color: $silver;
    border-radius: 50%;
    margin: 0 13px 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow 0.5s, background-color 0.5s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
      background-color: $accent-transparent;
    }

    &:hover {
      background-color: $accent-color;
    }

    &:hover .social__icon {
      fill: $white;
    }

    &:active {
      background-color: $accent-transparent;
      box-shadow: 0 0 0 2px transparent;
    }

    &:active .social__icon {
      fill: $accent-color;
    }
  }

  &__icon {
    transition: fill 0.5s;

    &--facebook {
      width: 10px;
      height: 20.5px
    }

    &--twitter {
      width: 20.1px;
      height: 17px;
    }

    &--instagram {
      width: 19.5px;
      height: 19.5px;
    }
  }
}

.footer {
  padding-top: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-right: 78px;
  }

  &__subscribe {
    margin-right: 25px;
  }

  &__list {
    column-count: 3;
  }

  &__link {
    display: block;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  &__contact {
    display: block;
    padding-left: 31px;
    margin-bottom: 18px;
    position: relative;
    font-size: 16px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      height: 24px;
      width: 24px;
    }

    &--address::before {
      background-image: url('../images/svg/location.svg');
    }

    &--phone::before {
      background-image: url('../images/svg/phone.svg');
    }

    &--mail::before {
      background-image: url('../images/svg/mail.svg');
    }
  }

  &__copyright {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    border-top: 1px solid $gray;
  }
}
